* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'icomoon';
    src: url('/images/fonts/icomoon.eot?x1x2x3');
    src: url('/images/fonts/icomoon.eot?x1x2x3#iefix') format('embedded-opentype'),
    url('/images/fonts/icomoon.ttf?x1x2x3') format('truetype'),
    url('/images/fonts/icomoon.woff?x1x2x3') format('woff'),
    url('/images/fonts/icomoon.svg?x1x2x3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
    content: "\e900";
}
.icon-mini-basket:before {
    content: "\e901";
}
.icon-arrow-up:before {
    content: "\e902";
}
.icon-lifetime:before {
    content: "\e903";
}
.icon-hd:before {
    content: "\e904";
}
.icon-feather:before {
    content: "\e905";
}
.icon-water-drop:before {
    content: "\e906";
}
.icon-print:before {
    content: "\e907";
}
.icon-stars:before {
    content: "\e908";
}
.icon-arrow-down:before {
    content: "\e909";
}

.step-enter-active,
.step-leave-active {
    transition: opacity 0.3s ease;
}
.step-enter-from,
.step-leave-to {
    opacity: 0;
}

.black-frame {
    background-image: url("/images/black-frame.svg");
}

.white-frame {
    background-image: url("/images/white-frame.svg");
}

.natural-frame {
    background-image: url("/images/natural-frame.svg");
}

.ribbon {
    background-image: url("/images/ribbon.svg");
}

.wall-strips {
    background-image: url("/images/wall-strips.png");
}

.greetings-card {
    background-image: url("/images/greetings-card.png");
}
